<h4 (click)="testClick()">Balance Sheet</h4>

<section class="tableContainer" id="test">
    <table>

        <tr>
            <th class="yearTh">Year</th>
            <td class="thData" *ngFor="let item of balanceStatement">{{item.date.substring(0,4)}}</td>
        </tr>
        <tr>
            <th>Cash and cash equivalents</th>
            <td *ngFor="let item of balanceStatement">{{item["Cash and cash equivalents"] / 1000000 | number: '1.2-2' }}</td>
        </tr>
        <tr>
            <th>Short-term investments</th>
            <td *ngFor="let item of balanceStatement">{{item["Short-term investments"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Cash and short-term investments</th>
            <td *ngFor="let item of balanceStatement">{{item["Cash and short-term investments"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Receivables</th>
            <td *ngFor="let item of balanceStatement">{{item["Receivables"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Inventories</th>
            <td *ngFor="let item of balanceStatement">{{item["Inventories"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Property, Plant & Equipment Net</th>
            <td *ngFor="let item of balanceStatement">{{item["Property, Plant & Equipment Net"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Goodwill and Intangible Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Goodwill and Intangible Assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Long-term Investments</th>
            <td *ngFor="let item of balanceStatement">{{item["Long-term investments"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Tax Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Tax assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total non-current Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Total non-current assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total Current Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Total current assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Total assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Payables</th>
            <td *ngFor="let item of balanceStatement">{{item["Payables"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Short-term debt</th>
            <td *ngFor="let item of balanceStatement">{{item["Short-term debt"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total current liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Total current liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Long-term debt</th>
            <td *ngFor="let item of balanceStatement">{{item["Long-term debt"] / 100000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total debt</th>
            <td *ngFor="let item of balanceStatement">{{item["Total debt"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Deferred revenue</th>
            <td *ngFor="let item of balanceStatement">{{item["Deferred revenue"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Tax Liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Tax Liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Deposit Liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Deposit Liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total non-current liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Total non-current liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Total liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Other comprehensive income</th>
            <td *ngFor="let item of balanceStatement">{{item["Other comprehensive income"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Retained earnings (deficit)</th>
            <td *ngFor="let item of balanceStatement">{{item["Retained earnings (deficit)"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Total shareholders equity</th>
            <td *ngFor="let item of balanceStatement">{{item["Total shareholders equity"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Investments</th>
            <td *ngFor="let item of balanceStatement">{{item["Investments"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Net Debt</th>
            <td *ngFor="let item of balanceStatement">{{item["Net Debt"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Other Assets</th>
            <td *ngFor="let item of balanceStatement">{{item["Other Assets"] / 1000000 | number: '1.2-2'}}</td>
        </tr>
        <tr>
            <th>Other Liabilities</th>
            <td *ngFor="let item of balanceStatement">{{item["Other Liabilities"] / 1000000 | number: '1.2-2'}}</td>
        </tr>


    </table>

</section>