.mainHeader {
    align-items: center;
    background: #FFF;
    box-shadow: #000 5px 5px 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    height: 100px;
    justify-content: flex-end;
    min-height: 100px;
    overflow: hidden;
    padding: 0 20px 9 20px;
    text-transform: uppercase;
    width: 100%;
}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
    color: #4dd0e1;
}

.searchModal {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    color: #000;
    font-size: 14px;
    height: 200px;
    list-style-type: none;
    position: absolute;
    right: 45px;
    top: 68px;
    width: 300px;
    z-index: 9999;
}

form {
    overflow: hidden;
}

.seachModalLI {
    border-bottom: 1px solid #ADA996;
}

::-webkit-input-placeholder {
    font-size: 0.8em;
}

 ::-moz-placeholder {
    font-size: 0.8em;
}

 :-ms-input-placeholder {
    font-size: 0.8em;
}

 ::placeholder {
    font-size: 0.8em;
}

.BurgerContainer {
    cursor: pointer;
    display: inline-block;
    left: 40px;
    position: absolute;
    z-index: 9;
}

.bar1,
.bar2,
.bar3 {
    background-color: #333;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    width: 35px;
    z-index: 999;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.menuModal {
    background: #fff;
    box-shadow: 5px 5px 5px;
    height: 300px;
    left: 2%;
    opacity: 0;
    overflow-x: visible;
    position: fixed;
    top: 80px;
    transition: all 0.5s linear;
    width: 250px;
    z-index: -3;
}

.navItem {
    align-items: center;
    background: #ADA996;
    background: -webkit-gradient(linear, left top, right top, from(#EAEAEA), color-stop(#DBDBDB), color-stop(#F2F2F2), to(#ADA996));
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    border: solid 1px #ADA996;
    cursor: pointer;
    display: flex;
    font-size: 0.5em;
    justify-content: center;
    padding: 10px 10px 8px 10px;
}

.navItem:hover {
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, rgb(167, 160, 160), rgb(32, 32, 30));
}

.logoContainer {
    height: 220px;
    position: absolute;
    width: 400px;
    left: 150px;
    top: -60px;
    z-index: 0;
}

.logoImage {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media only screen and (max-width: 410px) {
    .mainHeader {
        flex-direction: column-reverse;
    }
    .BurgerContainer {
        left: 10px;
        top: -50px;
    }
}

@media only screen and (max-width: 870px) {
    .logoContainer {
        height: 100px;
        left: 10px;
        width: 200px;
        top: -30px;
    }
}