<header class="mainHeader">
    <form class="form-inline md-form form-sm active-cyan-2" autocomplete="off">
        <input class="form-control form-control-lg mr-3 w-75" type="text" name="companySearchText" placeholder="Search Stock Symbol" [(ngModel)]="companySearchText" (keydown.enter)="onEnterDown($event.target.value)" aria-label="Search" mdbInput>


    </form>
    <ul class="searchModal custom-select" *ngIf="companySearchText.length > 2">
        <li class="seachModalLI" (click)="handleCompanyClick(comp.symbol)" routerLink="/main/:{{comp.symbol}}" routerLinkActive="active" *ngFor="let comp of companyStockList | searchBySymbol : companySearchText"><a>({{comp.symbol}}){{comp.name}}</a></li>
    </ul>
</header>
<router-outlet></router-outlet>