.ticker,
.tickerWrapper,
.tickerWrapper2 {
    align-items: center;
    align-self: center;
    background: #0f0c29;
    flex-direction: row;
    display: flex;
    height: 60px;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    top: inherit;
    width: 100%;
}

.tickerWrapper {
    animation: ticker 45s infinite linear;
}

.tickerWrapper2 {
    animation: ticker 45s infinite linear;
    left: 100%;
    position: absolute;
    top: 0;
}

.stockQuote {
    align-self: center;
    color: #fff;
    cursor: pointer;
    font-size: 1vw;
    margin-right: 30px;
}

.positiveChange {
    color: #00FF00;
}

.negativeChange {
    color: #FF0000;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@media only screen and (max-width: 1100px) {
    .stockQuote {}
}