h4 {
    font-size: 2em;
    margin: 1%;
    margin-left: 20%;
    overflow: hidden;
}

.checkContainer {
    margin-bottom: 1%;
    margin-left: 40%;
}

.storyContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin-left: 15%;
    width: 70%;
}

.storyCard {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    border-bottom: 10px solid #fff;
    display: flex;
    padding: 10px;
    width: 100%;
}

.storyImage_newsPage {
    border-radius: 10px;
    height: 10%;
    margin-left: 1.5%;
    width: 20%;
}

.newsTitleAndBodyContainer {
    width: 80%;
}

.newsTitleAndBodyContainer {
    padding-left: 10px;
}

@media only screen and (max-width: 600px) {
    .storyImage_newsPage {
        display: none
    }
}