h4 {
    margin: 1%;
    margin-left: 20%;
    overflow: hidden;
}

.checkContainer {
    margin-left: 40%;
    margin-bottom: 1%;
}

.storyContainer {
    width: 70%;
    height: auto;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.storyCard {
    display: flex;
    width: 100%;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    border-bottom: 10px solid #fff;
    padding: 10px;
}

.storyImage_newsPage {
    width: 35%;
    height: 50%;
    border-radius: 10px;
}

.newsTitleAndBodyContainer {
    padding-left: 10px;
}