h1,
.companyTitle {
    margin: 1%;
    margin-left: 5%;
    overflow: hidden;
}

.companyTitle {
    align-items: baseline;
    display: flex;
    margin-right: 20px;
}

.companyImage {
    border: 1px solid #dedfe1;
    border-radius: 5px;
    margin-right: 20px;
}

.companyName,
.companySector {
    margin-right: 20px;
}

.companyDescription {
    font-size: 8px;
    font-weight: 900;
    margin: -20px 0 10px 5%;
    padding: 5px 5px 5px 5px;
    width: 50%;
}

.mainContent {
    height: 80%;
    margin-left: 5%;
    position: relative;
    width: 90%;
}

.companyDataContainer {
    display: flex;
    position: relative;
    width: 60%;
}

.headerSection {
    background: #0f0c29;
    height: 50px;
    width: 100%;
}

.companyDataSectionOne {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

.infoBar {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.infoBar:nth-of-type(even) {
    background: #ddd;
}

.dataName {
    font-weight: 900;
}