<div>
    <div class="flex-item chartButtonGroup">
        <button mat-button mat-raised-button color="primary" class="chartButton" (click)="setInterval(5)">5d</button>
        <button mat-button mat-raised-button color="primary" class="chartButton" (click)="setInterval(30)">1m</button>
        <button mat-button mat-raised-button color="primary" class="chartButton" (click)="setInterval(180)">6m</button>
        <button mat-button mat-raised-button color="primary" class="chartButton" (click)="setInterval(365)">1y</button>
        <button mat-button mat-raised-button color="primary" class="chartButton" (click)="setInterval(1825)">5y</button>

    </div>
    <div>
        <div style="display: block">
            <canvas baseChart width="550" height="320" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
        </div>

    </div>
</div>