h4 {
    margin: 1%;
    margin-left: 20%;
    overflow: hidden;
}

.mainPage-sectionContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10%;
    overflow: hidden;
    position: absolute;
    top: 450px;
    width: 80%;
}

.subjectContainer {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-weight: bold;
    height: 330px;
    margin: 0.5%;
    margin-bottom: 3%;
    overflow: hidden;
    position: relative;
    width: 450px;
}

.subjectHeader {
    align-items: center;
    background-color: #0f0c29;
    border-radius: 10px;
    color: #fff;
    cursor: -webkit-pointer;
    cursor: pointer;
    display: flex;
    height: 15%;
    left: 0;
    position: absolute;
    text-indent: 20px;
    top: 0;
    width: 100%;
}

.subjectList {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    position: absolute;
    top: 15%;
}

.subjectListItem {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

.subjectImage {
    border-radius: 10px;
    height: 60px;
    margin-left: 1.5%;
    width: 80px;
}

.subjectNewsTitle {
    margin-left: 10px;
    width: calc(100% - 90px);
}

a {
    color: #000;
}

.fa-chevron-right {
    position: absolute;
    right: 10px;
    top: 15px;
}

.mainPageFlagImage {
    height: 30px;
    margin-right: 50px;
    width: 40px;
}

.forexAndCryptoSubjectList {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    width: 100%;
}

.subjectforexAndCryptoTitle {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    position: relative;
    width: 100%;
}

.mainItemName {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 35%;
}

.mainItemNameSector {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.mainItemPrice {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
}

.mainItemChange {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.positiveChange {
    color: #00FF00;
}

.negativeChange {
    color: #FF0000;
}

footer {
    background: #0f0c29;
    bottom: 0;
    height: 3%;
    position: absolute;
    width: 100%;
}

.loadingDataDiv {
    font-weight: 900;
    height: 100%;
    width: 100%;
    font-size: 150%;
}

/*spinner*/

.spinnnerContainer {
    width: 100%;
    height: 100%;
    display: block;
    padding: 2rem;
}

.dash-spinner-title {
    position: absolute;
    width: 100%;
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}

.dash-spinner-title p {
    text-align: center;
    font-weight: 100;
    animation: dash-title 2s infinite;
}

.dash-spinner {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: -2;
    border-radius: 4px;
}

.dash-spinner__bottom {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    height: 20px;
    width: 100%;
    overflow: visible;
}

.dash-bar {
    height: 80px;
    background-color: #7B86D6;
    animation: bar-one 2s infinite;
    transform-origin: 0% 0%;
    display: inline-flex;
    border-radius: 8px;
}

.dash-bar__one {
    transform: rotate(-45deg);
    bottom: -10px;
    left: 22px;
    position: relative;
}

.dash-bar__two {
    transform: rotate(25deg);
    animation: bar-two 2s infinite;
    left: 78px;
    bottom: 48px;
    position: relative;
    animation-delay: 2s infinite;
}

.dash-bar__three {
    transform: rotate(-30deg);
    animation: bar-three 2s infinite;
    left: 114px;
    bottom: 27px;
    position: relative;
    animation-delay: 2s infinite;
}

.dash-dot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    background-color: #7B86D6;
    position: absolute;
    z-index: 2;
}

.dash-dot__one {
    bottom: 0px;
    left: 16px;
    animation: dot-one 2s infinite;
}

.dash-dot__two {
    bottom: 48px;
    left: 66px;
    animation: dot-two 2s infinite;
}

.dash-dot__three {
    bottom: 27px;
    left: 114px;
    animation: dot-three 2s infinite;
}

.dash-dot__four {
    bottom: 56px;
    left: 166px;
    animation: dot-four 2s infinite;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #7B86D6 transparent transparent;
    bottom: 51px;
    left: 158px;
    animation: dot-four 2s infinite;
}

@keyframes dot-one {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-two {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-three {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot-four {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes bar-one {
    0% {
        width: 0%;
    }
    30% {
        width: 40%;
    }
    60% {
        width: 40%;
    }
    100% {
        width: 40%;
    }
}

@keyframes bar-two {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    60% {
        width: 28%;
    }
    100% {
        width: 28%;
    }
}

@keyframes bar-three {
    0% {
        width: 0%;
    }
    30% {
        width: 0%;
    }
    60% {
        width: 0%;
    }
    100% {
        width: 33%;
    }
}

@keyframes dash-title {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}