<header class="mainHeader">

</header>

<app-ticker></app-ticker>
<h4>Major Indexes</h4>
<carousel></carousel>

<section class="mainPage-sectionContainer">
    <div class="subjectContainer">
        <div class="subjectHeader" routerLink="newslist" routerLinkActive="active">Top Stories</div>
        <div class="subjectList">
            <div class="subjectListItem" *ngFor="let newsItem of topNewsStories">
                <img class="subjectImage" src={{newsItem.urlToImage}} />
                <div class="subjectNewsTitle">
                    <a href={{newsItem.url}} target="#blank">
                    {{newsItem.title}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="subjectContainer">
        <div class="subjectHeader">heading</div>
    </div>
    <div class="subjectContainer">
        <div class="subjectHeader">heading</div>
    </div>
    <div class="subjectContainer">
        <div class="subjectHeader">heading</div>
    </div>
    <div class="subjectContainer">
        <div class="subjectHeader">heading</div>
    </div>
    <div class="subjectContainer">
        <div class="subjectHeader">heading</div>
    </div>


</section>
<router-outlet></router-outlet>