h4 {
    margin: 1%;
    margin-left: 20%;
    overflow: hidden;
}

.mainPage-sectionContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-around;
    top: 450px;
    margin-left: 10%;
    overflow: hidden;
    width: 80%;
}

.subjectContainer {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    height: 330px;
    margin: 0.5%;
    margin-bottom: 3%;
    position: relative;
    width: 450px;
    overflow: hidden;
    font-weight: bold;
}

.subjectHeader {
    align-items: center;
    background-color: #0f0c29;
    border-radius: 10px;
    color: #fff;
    cursor: -webkit-pointer;
    cursor: pointer;
    display: flex;
    height: 15%;
    left: 0;
    position: absolute;
    top: 0;
    text-indent: 20px;
    width: 100%;
}

.subjectList {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    position: absolute;
    top: 15%;
}

.subjectListItem {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

.subjectImage {
    border-radius: 10px;
    height: 60px;
    margin-left: 1.5%;
    width: 80px;
}

.subjectNewsTitle {
    margin-left: 10px;
    width: calc(100% - 90px);
}

a {
    color: #000;
}

.mainPageFlagImage {
    height: 30px;
    width: 40px;
    margin-right: 50px;
}

.forexAndCryptoSubjectList {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    position: absolute;
    top: 15%;
    width: 100%;
}

.subjectforexAndCryptoTitle {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    width: 100%;
}

.mainItemName {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainItemNameSector {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mainItemPrice {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainItemChange {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.positiveChange {
    color: #00FF00;
}

.negativeChange {
    color: #FF0000;
}

footer {
    background: #0f0c29;
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 3%;
}