.mainHeader {
    align-items: center;
    background: #FFF;
    box-shadow: #000 5px 5px 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    height: 100px;
    min-height: 100px;
    text-transform: uppercase;
    width: 100%;
}

h4 {
    margin: 1%;
    margin-left: 20%;
}

.mainPage-sectionContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    height: 80%;
    justify-content: space-around;
    top: 450px;
    margin-left: 10%;
    overflow: hidden;
    width: 80%;
}

.subjectContainer {
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    border-radius: 10px;
    height: 330px;
    margin: 0.5%;
    position: relative;
    width: 450px;
}

.subjectHeader {
    align-items: center;
    background-color: #0f0c29;
    border-radius: 10px;
    color: #fff;
    cursor: -webkit-pointer;
    cursor: pointer;
    display: flex;
    height: 15%;
    left: 0;
    position: absolute;
    top: 0;
    text-indent: 20px;
    width: 100%;
}

.subjectList {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-around;
    position: absolute;
    top: 15%;
}

.subjectListItem {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
}

.subjectImage {
    border-radius: 10px;
    height: 80px;
    margin-left: 1.5%;
    width: 80px;
}

.subjectNewsTitle {
    margin-left: 10px;
    width: calc(100% - 90px);
}

a {
    color: #000;
}