.chartContainer {
    width: 630px;
}

.chart {
    width: 100%;
}

.chartButtonGroup {
    margin-bottom: 1%;
}

.chartButton {
    margin-right: 10px;
}

@media only screen and (max-width: 1050px) {
    .companySector,
    .companyDescription {
        display: none;
    }
    .mainContent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .chartContainer {
        width: 60%;
    }
}