.mainHeader {
    align-items: center;
    background: #FFF;
    box-shadow: #000 5px 5px 5px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
    height: 100px;
    min-height: 100px;
    text-transform: uppercase;
    width: 100%;
}

h4 {
    margin: 1%;
    margin-left: 20%;
}

.tableContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    margin-left: 15%;
    width: 70%;
}

table {
    text-align: center;
}

.cryptoAndFlagImage {
    height: 50px;
    padding: 10px 0 10px 0;
    width: 50px;
}

tr:nth-child(odd) {
    background: #ddd;
}

.positiveChange {
    color: #00FF00;
}

.negativeChange {
    color: #FF0000;
}