<header class="mainHeader">

</header>
<app-ticker></app-ticker>
<h4>Cryptocurrencies</h4>

<section class="tableContainer">
    <table>
        <tr>
            <th></th>
            <th>SYMBOL</th>
            <th>PRICE</th>
            <th>CHANGE</th>
            <th>CHANGE(%)</th>
        </tr>
        <tr *ngFor="let currency of cryptoFullList">
            <img src="./assets/crypto/{{currency.ticker.toLowerCase()}}.svg" class="cryptoAndFlagImage">
            <td>{{currency.ticker}}</td>
            <td>{{currency.price}}</td>
            <td [class.negativeChange]="currency.changes < 0.01" [class.positiveChange]="currency.changes > 0.01">{{currency.changes.toFixed(4)}}</td>
            <td [class.negativeChange]="currency.changes < 0.01" [class.positiveChange]="currency.changes > 0.01">{{((currency.changes.toFixed(4) / (currency.price)) * 100).toFixed(2)}}%</td>
        </tr>
    </table>
</section>